{% extends 'app_main/base.html' %} {% block eventos_url %} {% url 'admin:ventana' %} {% endblock %} {% block content %}
<div class="container my-4">
    <h2 class="mb-4">Participantes Calificados - {{ evento.eve_nombre }}</h2>
    {% if participantes %}
    <div class="list-group">
        {% for participante in participantes %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ participante.usuario.first_name }} {{ participante.usuario.last_name }}</span>
            <a href="{% url 'evaluadores:ver_calificaciones_participante' evento_id=evento.eve_id participante_id=participante.id %}" class="btn btn-primary btn-sm">
  Ver Calificaciones
</a>

        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle"></i> No hay participantes calificados en este evento.
    </div>
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'evaluadores:seleccionar_evento' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle me-1"></i> Volver a Mis Eventos
        </a>
    </div>
</div>
{% endblock %}