{% extends 'app_main/base.html' %} {% block nav_links %}
<li class="nav-item"><a class="nav-link" href="{% url 'super_admin:agregar_area' %}">Agregar Área</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'super_admin:agregar_categoria' %}">Agregar Categoría</a></li>
{% endblock %} {% block eventos_url %} {% url 'super_admin' %} {% endblock %} {% block eventos_text %} Super Admin {% endblock %} {% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white text-center">
            <h2 class="mb-0">Agregar Área</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'super_admin:agregar_area' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="are_nombre" class="form-label">Nombre del Área</label>
                    <input type="text" class="form-control" name="are_nombre" id="are_nombre" required>
                </div>
                <div class="mb-3">
                    <label for="are_descripcion" class="form-label">Descripción del Área</label>
                    <textarea class="form-control" name="are_descripcion" id="are_descripcion" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Área</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}